<br>bottom intensity (0-1):
<br>&nbsp;&nbsp;&nbsp;<input type="text" id="mod_bottom_i" size="3" value="0">
<br>top z (mm):
<br>&nbsp;&nbsp;&nbsp;<input type="text" id="mod_top_z" size="3" value="0">
<br>top intensity (0-1):
<br>&nbsp;&nbsp;&nbsp;<input type="text" id="mod_top_i" size="3" value="1">
<br>tool diameter (mm):
<br>&nbsp;&nbsp;&nbsp;<input type="text" id="mod_diameter" size=3 value="3.175">
<!-- 
//<br>clearance length (mm):
//<br>&nbsp;&nbsp;&nbsp;<input type="text" id="mod_clear_len" size=3 value="25.4"> 
//<br>clearance diameter (mm):
//<br>&nbsp;&nbsp;&nbsp;<input type="text" id="mod_clear_dia" size=3 value="6.35"> 
-->
<br>tool overlap (%):
<br>&nbsp;&nbsp;&nbsp;<input type="text" id="mod_overlap" size=3 value="0">
<br>direction: <input type="checkbox" id="mod_xz" checked> xz <input type="checkbox" id="mod_yz" checked> yz
<br>type: <input type="radio" name="mod_type" id="mod_flat" checked> flat end <input type="radio" name="mod_type" id="mod_ball"> ball end
<br>path error (pixels):
<br>&nbsp;&nbsp;&nbsp;<input type="text" id="mod_error" size=3 value="1.5">