<br><b>output</b>
<br>machine
<select id="mod_roland_machine">
	<option value="mdx_20">MDX-20</option>
	<option value="mdx_40">MDX-40</option>
	<option value="srm_20">SRM-20</option>
</select>
<br>speed (mm/s):
&nbsp;<input type="text" id="mod_speed" size="3" value="4">
<br>x0 (mm):
&nbsp;<input type="text" id="mod_xmin" size="3" value="10">
<br>y0 (mm):
&nbsp;<input type="text" id="mod_ymin" size="3" value="10">
<br>z0 (mm):
&nbsp;<input type="text" id="mod_zmin" size="3" value="0">
{{#if show_move }}
<br><input type="button" id="mod_move_xyz" value="move to x0,y0,z0">
{{/if }}
<br>zjog (mm):
&nbsp;<input type="text" id="mod_jog" size="3" value="10">
{{#if show_move }}
<br><input type="button" id="mod_move_xy" value="move to x0,y0,zjog">
{{/if }}
<br>xhome (mm):
&nbsp;<input type="text" id="mod_xhome" size="3" value="0">
<br>yhome (mm):
&nbsp;<input type="text" id="mod_yhome" size="3" value="150">
<br>zhome (mm):
&nbsp;<input type="text" id="mod_zhome" size="3" value="150">
{{#if show_move }}
<br><input type="button" id="mod_home" value="move to xhome,yhome and stop">
{{/if }}

