<br><b>output</b>
<br>autofocus: <input type="checkbox" id="mod_autofocus">
<br>power (%):
&nbsp;<input type="text" id="mod_power" size="3" value="25">
<br>speed (%):
&nbsp;<input type="text" id="mod_speed" size="3" value="75">
<br>rate (pps):
&nbsp;<input type="text" id="mod_rate" size="3" value="500">
<br>origin (mm): <br>
x: <input type="text" id="mod_x_origin" size="3" value="50"> 
y: <input type="text" id="mod_y_origin" size="3" value="50">
<br><input type="radio" name="origin" id="mod_top_left" checked> left top right <input type="radio" name="origin" id="mod_top_right">
<br><input type="radio" name="origin" id="mod_bottom_left"> left bot right <input type="radio" name="origin" id="mod_bottom_right">
