 <br><b>output</b>
 <br>cut speed (mm/s):
 &nbsp;<input type="text" id="mod_cut_speed" size="3" value="20">
 <br>plunge speed (mm/s):
 &nbsp;<input type="text" id="mod_plunge_speed" size="3" value="20">
 <br>jog speed (mm/s):
 &nbsp;<input type="text" id="mod_jog_speed" size="3" value="75">
 <br>jog height (mm):
 &nbsp;<input type="text" id="mod_jog_height" size="3" value="5">
 <br>spindle speed (RPM):
 &nbsp;<input type="text" id="mod_spindle_speed" size="3" value="10000">
 <br>file units: in <input type="radio" name="mod_units" id="mod_inches" checked> mm <input type="radio" name="mod_units" id="mod_mm">
 
 