<br><b>output</b>
<br>caution: not yet tested
<br>model: <select id="mod_model">
<option value="Speedy_100" selected>Speedy 100</option>
<option value="Speedy_100_Flexx_CO2">Speedy 100 Flexx CO2</option>
<option value="Speedy_100_Flexx_fiber">Speedy 100 Flexx fiber</option>
<option value="Speedy_400">Speedy 400</option>
</select>
<br>power (%):
&nbsp;<input type="text" id="mod_power" size="3" value="25">
<br>velocity (mm/s):
&nbsp;<input type="text" id="mod_velocity" size="3" value="10">
<br>frequency: (Hz)
&nbsp;<input type="text" id="mod_frequency" size="3" value="5000">
<br>origin (mm): <br>
x: <input type="text" id="mod_x_origin" size="3" value="50"> 
y: <input type="text" id="mod_y_origin" size="3" value="50">
<br><input type="radio" name="origin" id="mod_top_left" checked> left top right <input type="radio" name="origin" id="mod_top_right">
<br><input type="radio" name="origin" id="mod_bottom_left"> left bot right <input type="radio" name="origin" id="mod_bottom_right">
