<br>bottom intensity (0-1):
<br>&nbsp;&nbsp;&nbsp;<input type="text" id="mod_bottom_i" size="3" value="0">
<br>top z (mm):
<br>&nbsp;&nbsp;&nbsp;<input type="text" id="mod_top_z" size="3" value="0">
<br>top intensity (0-1):
<br>&nbsp;&nbsp;&nbsp;<input type="text" id="mod_top_i" size="3" value="1">
<br>direction:
<br>&nbsp;&nbsp;&nbsp;conventional <input type="radio" name="origin" id="mod_conventional"> climb <input type="radio" name="origin" id="mod_climb" checked>
<br>cut depth (mm):
<br>&nbsp;&nbsp;&nbsp;<input type="text" id="mod_depth" size="3" value="1">
<br>tool diameter (mm):
<br>&nbsp;&nbsp;&nbsp;<input type="text" id="mod_diameter" size=3 value="3.175">
<br>number of offsets (-1 to fill):
<br>&nbsp;&nbsp;&nbsp;<input type="text" id="mod_offsets" size=3 value="-1">
<br>offset overlap (%):
<br>&nbsp;&nbsp;&nbsp;<input type="text" id="mod_overlap" size=3 value="50">
<br>path error (pixels):
<br>&nbsp;&nbsp;&nbsp;<input type="text" id="mod_error" size=3 value="1.5">
<br>sort path: <input type="checkbox" id="mod_sort" checked>
<br>sort merge diameter multiple:
<br>&nbsp;&nbsp;&nbsp;<input type="text" id="mod_merge" size=3 value="1.1">
<br>sort order weight:
<br>&nbsp;&nbsp;&nbsp;&lt; 0: boundaries last
<br>&nbsp;&nbsp;&nbsp;= 0: min distance
<br>&nbsp;&nbsp;&nbsp;&gt; 0: boundaries first
<br>&nbsp;&nbsp;&nbsp;<input type="text" id="mod_order" size=3 value="-1">
<br>sort sequence weight:
<br>&nbsp;&nbsp;&nbsp;&lt; 0: exterior last
<br>&nbsp;&nbsp;&nbsp;= 0: min distance
<br>&nbsp;&nbsp;&nbsp;&gt; 0: exterior first
<br>&nbsp;&nbsp;&nbsp;<input type="text" id="mod_sequence" size=3 value="-1">